{% extends "defaultLayout.html" %}
{% block content %}
    <div id="app">
        <div class="relative z-10 bg-white rounded-tr-xl sm:rounded-t-xl lg:rounded-xl shadow-lg">
            <!-- Recent Message  Area -->
            <ul class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4">
                <li v-for="room in roomList">
                    <div class="group cursor-pointer rounded-lg p-4 border border-gray-900 hover:bg-light-blue-500"
                         v-on:click="gotoDM(room.nickName)">
                        <dl class="grid sm:block lg:grid xl:block grid-cols-2 grid-rows-2 items-center">
                            <dd class="leading-6 font-medium text-black group-hover:text-light-blue-500">
                                <span class="text-danger">${ room.nickName }$</span>
                                <br>
                                <span>Recent Message : ${ room.recentMessage }$</span>
                            </dd>
                            <br>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/axios/axios.min.js"></script>
    <script src="/static/vue/vue.js"></script>
    <script src="/static/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script>
        app = {
            compilerOptions: {
                delimiters: ['${', '}$']
            },
            mounted() {
                this.getRecentMessages();
            },
            data() {
                return {
                    roomList: JSON.parse($.parseHTML('{{ roomList }}')[0].data),
                    myId: '{{ myId }}',
                    isNewPosting: false,
                    newMessage: '',
                    existsMessages: [],
                };
            },
            methods: {
                getRecentMessages() {
                    axios.get(`/dm/recent/${this.roomId}`
                    ).then(function (response) {
                        appInstance.existsMessages = response.data;
                    }).catch(function (error) {
                        alert(error.response.data);
                    })
                },
                sendMessage() {
                    if (this.isNewPosting === true) return;
                    this.isNewPosting = true;

                    axios.post(`/dm/${this.roomId}`, {
                        message: this.newMessage,
                    }).then(function (response) {
                        appInstance.newMessage = '';
                        appInstance.getRecentMessages();
                    }).catch(function (error) {
                        alert(error.response.data);
                    }).finally(function () {
                        this.isNewPosting = false;
                    })
                },
                gotoDM(nickName) {
                    location.href = `/dm/${nickName}`;
                }
            }
        }

        let appInstance = Vue.createApp(app).mount('#app')
    </script>
{% endblock %}